/* CSS1K entry 'Default'
 * by Jacob Rask (http://jacobrask.net / jacob@jacobrask.net)
 * This file is unminified for legibility, for size proof replace 'full' in filename with 'min' */
h1 {
    font: bold 300% monospace;
    text-align: center;
    text-shadow: 0 0 5px #eee;
}
a:hover,
h2 {
    color: #b12
}
h2 {
    margin: 1em 0 0
}
a {
    color: #38b;
    text-decoration: none;
}
body,
nav ul {
    margin: 0 auto
}
body {
    width: 50%;
    max-width: 55em;
    font: 95%/1.5 sans-serif;
    color: #311;
}
body:after,
body:before {
    position: fixed;
    content: '';
    display: block;
    top: 0;
    left: -8px;
    width: 23%;
    height: 110%;
    background: -webkit-repeating-linear-gradient(45deg, #9bc, #9bc 5px, #cde 5px, #cde 10px);
    background:    -moz-repeating-linear-gradient(45deg, #9bc, #9bc 5px, #cde 5px, #cde 10px);
    background:     -ms-repeating-linear-gradient(45deg, #9bc, #9bc 5px, #cde 5px, #cde 10px);
    background:      -o-repeating-linear-gradient(45deg, #9bc, #9bc 5px, #cde 5px, #cde 10px);
    background:         repeating-linear-gradient(45deg, #9bc, #9bc 5px, #cde 5px, #cde 10px);
    -webkit-box-shadow: inset 0 -8px 16px #000;
    -moz-box-shadow:    inset 0 -8px 16px #000;
    -ms-box-shadow:     inset 0 -8px 16px #000;
    box-shadow:         inset 0 -8px 16px #000;
}
body:after {
    right: -8px;
    left: auto;
    background: -webkit-repeating-linear-gradient(135deg, #9bc, #9bc 5px,#cde 5px, #cde 10px);
    background:    -moz-repeating-linear-gradient(135deg, #9bc, #9bc 5px,#cde 5px, #cde 10px);
    background:     -ms-repeating-linear-gradient(135deg, #9bc, #9bc 5px,#cde 5px, #cde 10px);
    background:      -o-repeating-linear-gradient(135deg, #9bc, #9bc 5px,#cde 5px, #cde 10px);
    background:         repeating-linear-gradient(135deg, #9bc, #9bc 5px,#cde 5px, #cde 10px);
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 200px;
    background: rgba(50,50,50,.9);
    overflow: auto;
}
nav ul {
    padding: 3%;
}
nav h2 {
    color: #fff;
    font-size: 90%;
    text-align: center;
    text-transform: uppercase;
}
nav li {
    display: block;
    font-size: 80%;
    margin: 0 0 10px;
}
nav li a {
    color: #fff
}
nav li a:first-of-type {
    color: #333;
    display: block;
    background: #fff;
    padding: 2px 5px;
    -webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
}
nav li a:first-of-type:hover {
    background: #6bc;
    color: #fff;
}
footer {
    border-top: 1px solid #aaa;
    text-align: center;
    font-size: 85%;
}
