/* CSS1K entry
 * "AAPL" by Joffrey Jaffeux (http://twitter.com/joffreyjaffeux)
 * This file is unminified for legibility, for size proof add '-min' to the end of the filename */

body{
    background: #f5f6f7;
  	font: 14px/1.5 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  	margin: 0 auto;
  	width: 800px
}

h1{  
    color: #222;  
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.2)), to(rgba(0,0,0,1)));
    mask-image: linear-gradient(top, rgba(0,0,0,.2), rgba(0,0,0,1));
}  

a{color: #08C}

header{
		position: relative;
}

		header p{
		    font-size: 20px;
		    color: #9A9A9A
		}

article{
    background: #FFF;
    border: 1px solid #CECECE;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 2px #CECECE;
    -moz-box-shadow: 1px 1px 2px #CECECE;
    -ms-box-shadow: 1px 1px 2px #CECECE;
    box-shadow: 1px 1px 2px #CECECE;
    overflow: auto;
    padding: 10px 10px 50px 10px
}

section{
		width: 500px
}

nav{
		position: absolute;
		top: 200px;
		right: 10px;
		width: 200px
}

    nav ul{
        padding: 0;
				overflow: 0;
    }

        nav ul li{
            border: 1px solid #CACACA;
            border-bottom: 0;
            background-image: -webkit-linear-gradient(top, #F1F1F1, #E1E1E1);
            background-image: -moz-linear-gradient(top, #F1F1F1, #E1E1E1);
            background-image: -ms-linear-gradient(top, #F1F1F1, #E1E1E1);
            background-image: -o-linear-gradient(top, #F1F1F1, #E1E1E1);
            background-image: linear-gradient(top, #F1F1F1, #E1E1E1);
						height: 17px;
            list-style: none;
						overflow: hidden;
            padding: 5px;
            position: relative;
						text-shadow: 1px 1px 0 #FFF
        }

						nav ul li a:first-child{
	          		color: #777;
	           		display: block
	        	}
        
        nav ul li:hover{
            background: #FFF;
						height: 38px
        }

            nav ul li:hover:after{
                content: '▶';
                position: absolute;
                right: 5px;            
                top: 15px
            }

        nav ul li:last-child{
            border-bottom: 1px solid #CACACA
        }
