/* CSS1K entry
 * "Android" by Aleksej Romanovskij (http://agat.in)
 * This file is unminified for legibility, for size proof add '-min' to the end of the filename */
body		{ font: 15px/20px 'Droid Sans', sans-serif; width: 480px; margin: 0; background: #333; color: #ccc; }
a			{ text-decoration: none; border-bottom: 1px dashed #ccc; color: #ccc; }

/* content */
h1			{ background: #999; color: #fff; font: bold 14px/25px 'Droid Sans', sans-serif; padding: 0 6px; margin: 0; text-shadow: 0 0 3px #000; }
footer,
article		{ padding: 0 16px 16px; background: #000; }
h2			{ color: #fff; font-size: 22px; font-weight: 400; }
h2,
ol,
ol		 	{ padding-left: 32px; }
h2		 	{ margin: 0 -16px; padding: 13px 16px 0 16px; }
h2,
footer 		{ border-top: 1px solid #666; }

/* popup */
nav 		{ position: absolute; left: 505px; top: 25px; border-radius: 6px; border: 2px solid #fff; background: #fff; color: #000; -webkit-box-shadow: 0 0 13px #000; box-shadow: 0 0 13px #000; }
ul	 		{ padding: 0; margin: 0; overflow: auto; max-height: 800px; }
nav li 		{ list-style: none; padding: 13px 16px; border-top: 1px solid #999; white-space: nowrap; }
nav li:hover 		{ background: #f90; }
li:first-child,
header h2,
nav a 		{ border: none; }
nav a 		{ color: #000; }
nav a:first-child:after { content: ' —'; }
nav h2 		{ color: #000; margin: 0; background: #333; font: 400 22px/43px 'Droid Sans', sans-serif; color: #fff; padding: 0 10px; border-radius: 6px 6px 0 0; }
