@import "compass/css3";
@import "compass/utilities";

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 13px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

body > header, [role], footer p { margin: 0 auto; width: 700px; }

body > header {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  h1, nav, h2 {
    display: inline-block;
  }
}

h1 {
  color: #777;
  display: inline-block;
  font-size: 26px;
  font-weight: normal;
}

p, ol {
  line-height: 1.5;
  margin-bottom: 20px;
}

ol li {
  list-style: decimal;
}

.content-link {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

nav {
  &:hover ul {
    display: block;
  }
  h2 {
    color: #777;
    font-size: 13px;
    font-weight: normal;
    padding: 10px 20px;
    text-transform: lowercase;
    &:after {
      content: "\2192";
      position: relative;
      left: 5px;
    }
  }
  ul {
    @include clearfix;
    display: none;
    position: absolute;
    left: 0;
    width: 700px;
  }
  li {
    @include box-sizing(border-box);
    background: rgba(#fff,.9);
    cursor: pointer;
    float: left;
    font-size: 11px;
    list-style: none;
    padding: 4px 5px;
    width: 33%;
    &:hover {
      background: rgba(#000,.9);
      a {
        color: #fff !important;
      }
    }
  }
  a {
    color: #000;
    text-decoration: none;
    &:first-of-type {
      display: inline-block;
      font-weight: bold;
      margin-right: 3px;
      text-transform: uppercase;
    }
    &:last-of-type {
      color: #555;
    }
  }
}

[role] {
  @include clearfix;
  header {
    color: #b3b3b3;
    margin-bottom: 75px;
    h2 {
      color: #000;
      font-size: 60px;
      font-weight: bold;
      letter-spacing: -3px;
      margin-bottom: 25px;
    }
    p {
      font-size: 18px;
      font-style: italic;
      width: 640px;
      abbr {
        border-bottom: 1px solid #ccc;
      }
    }
  }
  section {
    float: left;
    width: 50%;
    &:first-of-type p {
      padding-right: 60px;
    }
    h2 {
      font-size: 22px;
      margin-bottom: 25px;
    }
    a {
      @extend .content-link;
    }
  }
}

footer {
  background: #f1f1f1;
  border-top: 1px solid #d2d2d2;
  margin-top: 30px;
  padding: 15px 0;
  p {
    margin-bottom: 0;
  }
  a {
    @extend .content-link;
  }
}