/* CSS1K entry
 * "Untitled" by Hubert Sablonnière (http://twitter.com/hsablonniere)
 * This file is unminified for legibility, for size proof add '-min' to the end of the filename */

body {
  font-family: sans-serif;
}

h1 {
  background: #EEE;
  height: 100%;
  left: 50%;
  margin: 0 0 0 -60px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 120px;
}

h2 {
  color: #999;
}

article {
  left: 50%;
  padding: 0 15px 0 80px;
  position: fixed;
  right: 0;
  top: 0;
}

nav ul {
  margin: 75px 50% 75px auto;
  padding-right: 85px;
  width: 450px;
}

nav li {
  -moz-box-align: center; -ms-box-align: center; -webkit-box-align: center;
  box-align: center; 
  -moz-box-orient: vertical; -ms-box-orient: vertical; -webkit-box-orient: vertical;
  box-orient: vertical; 
  -moz-box-pack: center; -ms-box-pack: center; -webkit-box-pack: center;
  box-pack: center; 
  display: -moz-box !important; display: -webkit-box !important;
  display: box !important; 
  float: left;
  height: 150px;
  position: relative;
  -moz-transform: rotateZ(-45deg); -o-transform: rotateZ(-45deg); -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg); 
  width: 150px;
}

nav li:nth-child(5n-1) {
  margin-left: 75px;
}

nav ul:after {
  clear: both;
  content: "";
  display: block;
}

nav a {
  display: block;
}

nav a:first-child {
  background: #FFF; 
  border-radius: 5px;
  font-weight: bold;
  padding: 4px 6px;
}

nav a:last-child {
  color: #FFF;
  text-align: center;
  width: 150px;
}

nav li:nth-child(6n+1) { background: #1F1F4C; }
nav li:nth-child(6n+2) { background: #333380; }
nav li:nth-child(6n+3) { background: #4747B2; }
nav li:nth-child(6n+4) { background: #5C5CE6; }
nav li:nth-child(6n+5) { background: #7575FF; }
nav li:nth-child(6n) { background: #9494FF; }
