/* CSS1K entry
 * "Boxes" by Frank Bültge (http://bueltge.de)
 * This file is unminified for legibility, for size proof add '-min' to the end of the filename */
body {
	background:#eee;
	color:#333;
	font:16px/24px Helvetica,Arial,sans-serif;
	margin:0 auto;
	padding:90px
}
a {
	color:#fa5232
}
a:hover {
	color:#999
}
header {
	background:rgba(0,0,0,.7);
	position:fixed;
	top:0;
	left:0;
	right:0;
	height:55px;
	z-index:2
}
h1, h2 {
	font:bold 30px/25px Georgia,times,serif
}
p {
	margin:1em 0 1.5em
}
ol {
	list-style:none;
	margin:1.5em 0
}
li {
	list-style:decimal;
	margin:0 0 8px
}
article section h2, nav h2, nav {
	position:absolute
}
article section, nav ul {
	background:#fff;
	position:relative;
	margin:0 0 60px;
	padding:5em 2em 1em
}
article section h2, article header {
	background:rgba(250,82,50,.8);
	color:#fff;
	text-align:center;
	top:-10px;
	left:10px;
	right:auto;
	padding:15px 20px
}
article header {
	position:relative;
	display:inline-table;
	text-align:left;
	left:0;
	z-index:1
}
nav {
	right:0;
	top:0;
	width:250px;
	z-index:9
}
nav ul {
	opacity:0;
	padding:20px 5px 10px 30px;
	overflow-y:scroll;
}
nav ul:hover {
	height:500px;
	opacity:1
}
nav h2 {
	width:50px;
	height:50px;
	padding:15px;
	background:rgba(249,101,73,.8);
	color:#fff;
	text-align:center;
	right:7px;
	-webkit-border-radius:60px;
	-moz-border-radius:60px;
	border-radius:60px
}
nav h2, nav ul {
	font-size:11px
}
nav ul li {
	margin:0
}
header, ul a + a {
	color:#ccc
}
article section, nav ul, article header, nav ul, article section h2 {
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:-1px 1px 3px rgba(0,0,0,.2);
	-moz-box-shadow:-1px 1px 3px rgba(0,0,0,.2);
	box-shadow:-1px 1px 3px rgba(0,0,0,.2)
}
