body { 
	font-family:Helvetica, Verdana, Sans-serif;
	position:relative;
	top:-25px;
	padding-left:20%;
	background:#000;
	color:#FFF;}
section, footer, nav {
	float:left;
	position:relative;
	width:150px;
	height:150px;
	padding:15px;
	overflow:hidden;
	-webkit-transition:height .5s, background .5s, color .5s, width .5s;
	-moz-transition:height .5s, background .5s, color .5s, width .5s;
	-o-transition:height .5s, background .5s, color .5s, width .5s;
	transition:height .5s, background .5s, color .5s, width .5s;} 
section:hover, footer:hover, nav:hover{
	height:100%;
	background:#FFF;
	color:#000;
	width:300px;
	height:300px;
	overflow:auto;}
header nav {position:relative;} 
h1 {font-size:5em;} 
header h2{position:absolute;
top:53px;
left:30%;}
nav h2{position:static;}
ul, ol{margin:0;
padding:0;}
li{display:inline;
list-style:none;
margin:0;
padding:5px 0 5px 0;
float:left;}
a:visited{color:#333}
a:hover{color:#CCC}
a:active{color:#666}
a{color:#999}