body { 
	font-family:Helvetica, Verdana, Sans-serif;
	position:relative;
	top:-25px;
	padding-left:20%;
	background:#000;
	color:#FFF;}
section, footer, nav {
	float:left;
	position:relative;
	width:150px;
	height:150px;
	padding:15px;
	overflow:hidden;
	-webkit-transition:height .5s, background .5s, color .5s, width .5s;
	-moz-transition:height .5s, background .5s, color .5s, width .5s;
	-o-transition:height .5s, background .5s, color .5s, width .5s;
	transition:height .5s, background .5s, color .5s, width .5s;} 
section:hover, footer:hover, nav:hover{
	height:100%;
	background:#FFF;
	color:#000;
	width:300px;
	height:300px;
	overflow:auto;
	}
header nav {
	display:block;
	position:absolute;
	top:200px;} 
h1 { 
	font-size:5em;} 