/* CSS1K entry * "Bubble" by Andrey Kulakov (http://8xx8.ru) * This file is unminified for legibility, for size proof add '-min' to the end of the filename */p,ol,header,h2 {
	background:#222;
	color:#ACB;
	font-size:15px;	}
a,h2,h1 {
	color:#aff	}
h2,p {
	margin:0;
	margin-top:10px;
	text-align:center	}
header,p,ol,h2 {	-webkit-border-radius: 260px;		-moz-border-radius: 260px;		border-radius: 260px;
	}	
header,nav h2,nav {	position:absolute	}
header,nav h2 {
	left:70px;
	top:40px;
	width:160px;
	height:180px;
	padding:20px 50px 50px	}
h1 {
	font-size:380%	}	
nav {
	top:0;
	left:540px;	}
nav h2 {
	top:0;
	height:180px;
	margin:0;	}
ul {
	top:40px;
	left:80px;
	list-style:none;
	position:relative;
	width:200px;	}
a:first-child{
	color:#fff;	}
section,article,p {
	float:left;	}
article {
	margin:40px;
	padding:140px 0;
	width:950px;	}
	article header {
		left:380px;		}
	section h2 { 		padding-top:10px;		height:40px;		margin:95px 0 -90px;		}	
	section p,ol,section:nth-child(3) p {
		width:200px;
		height:200px;
		padding:70px		}
		p:nth-child(2),section:nth-child(3) p:nth-child(3) {
		margin-left:10px		}
	p:nth-child(3) {
		margin-left:240px		}

	p:nth-child(4),ol {
		margin:-165px 0 0 250px;
		width:300px;
		height:300px		}
	section:nth-child(3) h2{		margin:-290px 0 0;		}
	section:nth-child(3) p:nth-child(4){
		margin-left:590px;		}
	section:nth-child(3) p {
		margin-top:-360px;		}
	ol {
		margin-top:-10px;		}

h2{
font-size:20px}

