/* CSS1K entry
 * "Expandable" by Dennis Madvedovsky (http://cascadi.ca | http://twitter.com/curlybrace)
 * This file is unminified for legibility, for size proof add '-min' to the end of the filename */
body {
    background: #0C1021;
    color: #F8F8F8;
    font-family: Candara, MS Trebuchet, serif;
}
body > header {
    float: left;
    width: 30%
}
[role] {
    float: left;
    width: 70%
}
h1, ul, [role]>* {
    padding: 20px;
    border-radius: 12px;
    -webkit-box-shadow: 0 0 4px #fff;
    box-shadow: 0 0 4px #fff;
    background: -webkit-linear-gradient(top, #444, #999);
    background: -moz-linear-gradient(top, #444, #999);
    background: -o-linear-gradient(top, #444, #999);
    background: linear-gradient(top, #444, #999);
    text-shadow: 1px 1px 3px #888;
    color: rgba(0, 0, 0, 0.6);
    background-size: 100% 100%;
    margin:  20px;
}
[role]>* {
    height: 25px;
    overflow: hidden;
    background: -webkit-linear-gradient(top, #feb300, #fedd00);
    background: -moz-linear-gradient(top, #feb300, #fedd00);
    background: -o-linear-gradient(top, #feb300, #fedd00);
    background: linear-gradient(top, #feb300, #fedd00);
}
section:nth-child(2) {
    margin: 20px;
}
[role]>*:hover h2 {
    color: #fff;
}
[role]>*:hover {
    height: 100%;
}
article header a, section a {
    color: #fff;
}
h1 {
    font-size: 500%;
    text-align: center;
    color: #fedd00;
    padding: 70px 20px;
}
h2 {
    margin:  0;
}
nav h2 {
    text-align: center;
}
h2:after {
    content: " ↓";
}
article header:hover h2:after, section:hover h2:after {
    content: " ↑";
}
nav ul {
    display: none;
}
nav:hover ul {
    display: block;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    list-style: none
}
ul li a {
    color: #feb300;
    text-decoration: none;
    font-size: 11px;
}
ul li a:first-child {
    color: #fff;
}
footer {
    position: absolute;
    left: 50px;
    top: -5px;
    font-size: 12px;
}
footer a {
    color: #fff;
}
