/* CSS1K entry
 * "Fresh Soda" by Jan Ortgies (http://jungundwillich.de)
 * This file is unminified for legibility, for size proof add '-min' to the end of the filename */

html {
	overflow-x: hidden;
}

body {
    font: 4.2mm/1.35 Calibri,sans-serif;
    background: -webkit-linear-gradient(top, #fff, #dce5f2);
    background:    -moz-linear-gradient(top, #fff, #dce5f2);
    background:     -ms-linear-gradient(top, #fff, #dce5f2);
    background:      -o-linear-gradient(top, #fff, #dce5f2);
    background:         linear-gradient(top, #fff, #dce5f2);
    counter-reset: l;
    margin: 0;
}

h1 {
    font: 800 10em/1.6 Palatino,serif;
    color: #98a2b1;
    text-shadow: .9mm .7mm .1mm #fff;
    left: -.7%;
}

h1:before {
    left: 0;
    content: "CSS1K";
    text-shadow: .6mm .4mm .6mm #eaeef2;
}

h1:before, *:after {
	color: rgba(0,0,0,0);
}


h1, article {
    margin: 0 auto;
    width: 15cm;
}

h2 {
    font-size: 120%;
}

h2, ol li {
    border-bottom: 1mm solid #ccd;
    display: inline-block;
}

nav {
    float: left;
}

nav > *, footer {
    padding: 0 8mm;
    font-weight: 800
}

nav a+a, footer {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 75%;
    opacity: .6;
}

a, h2, li:before {
    text-decoration: none;
    color: #358;
}

* {
    position: relative;
}

article *:after {
    content: "○˚";
    top: -3em;
    left: 550%;
    z-index: -1;
    user-select: none;
    font: 400 10em sans-serif;
    text-shadow: 1em 1em .04em #e0e9f2;
}

*:nth-child(2n):after {
    left: -650%;
}

footer {
    clear: both;
}

li {
    list-style: none;
}

ol li {
    margin: 0 0 2% -3%;
}

h1:before, *:after, li:before {
    position: absolute;
}

ol li:before {
    content: counter(l);
    counter-increment: l;
    font: 800 150%/1 sans-serif;
    left: -7mm;
}
