header, section, footer{
    position: absolute;
    color: #FCF6CF;
background-color:black;
background-image:
  -webkit-radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  -webkit-radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  -webkit-radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  -webkit-radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    -webkit-border-radius: 100em;
    border-radius: 100em;
}

h2{
    text-align: center;
}

nav{
    display: none;
}

header:nth-of-type(1){
    width: 12em;
    height: 12em;
    padding: 1em;
    right: 40%;
    top: 1em;
}

header:nth-of-type(2){
}

section:nth-of-type(1){
    width: 24em;
    height: 24em;
    padding: 4em;
    left: 1em;
    top: 1em;
}

section:nth-of-type(2){
    width: 27em;
    height: 27em;
    padding: 4em;
    right: 1em;
    bottom: 1em;
}

footer{
    width: 7em;
    height:7em;
    padding: 1em;
    left: 1em;
    bottom: 1em;
}