/* CSS1K entry
 * "Grayed" by Praveen Vijayan (http://decodize.com)
 * This file is unminified for legibility, for size proof add '-min' to the end of the filename */
 html,body{
	height:100%;
	font: 95%/1.5 sans-serif;
    color: #333;
	background-color: gray;
	background-image: -moz-repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
	background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
	overflow:hidden;
	margin:0;
}
h1 {
    text-align:right;
    -webkit-transform:rotate(-90deg);
    -webkit-transform-origin:center center;
    -moz-transform:rotate(-90deg);
    -moz-transform-origin:center center;
    -ms-transform:rotate(-90deg);
    -ms-transform-origin:center center;
    -o-transform:rotate(-90deg);
    -o-transform-origin:center center;
    transform:rotate(-90deg);
    transform-origin:center center;
	font-size:430%;
    margin: 5em 0;
	color:#fff;
	text-shadow: 2px 2px 0px #333;
}
h2{
	margin:2% 0;	
	font-size:130%;
	text-shadow: 0px 1px 0px #fff;
}
ul {
	list-style:none;
}
a {
    color: #999;
    text-decoration: none;
}
a:hover{
    color: #666;
	text-decoration: underline;
}
header{
	position:absolute;
	width:10%;
	top:0;
	bottom:0;
	background:gray;
	margin:0;	
}
article header{
	position:static;
	float:left;
}
section{
	width:39.5%;
	float:left;
	padding:0 2%;
	background:#fff;
	border-radius:2%;
	margin:1% 0 0 1%;
}
nav h2 {
	padding:1%;
	margin:0 0 1%;
	background:rgba(100%,100%,100%,.6);
	color:#000;
	font-size: 100%;
}
p{
	margin:0 0 4% 0;	
	text-shadow: 0px 1px 0px #fff;
}
nav {
    background:rgba(50, 50, 50, 0.8);
    left: 10%;
    position: fixed;
    right: 0;
    bottom: 5%;
    width: auto;
	height:10%;
	overflow:hidden;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
nav:hover{
	height:95.5%;
	overflow:auto;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}
nav:hover h2{
	background:gray;
	color:#fff;
	text-shadow:none;
}
nav li{
	float:left;
	width:30%;
	margin-bottom:4px;
	font-size: 90%;
}
nav a {
    color: #fff;
	text-shadow: 0px 0px 2px #000;
	padding-right:8px;
}
footer {
	position:fixed;
	bottom:0;
	left:10%;
	right:0;
	background:gray;
	height:8%;
}
footer p {
	color: #444444;
    font-size: 94%;
    margin-top: 1%;
    text-align: center;	
	text-shadow:none;
}