* {
margin:0;
padding:0;
font:normal 1em 'HelveticaNeue-Light','Helvetica Neue', Helvetica, Arial, sans-serif;
}
body{
font-size:100%;
width:960px;
margin:0 auto;
}
h1 {
border-top:2px solid #000;
font-size:2em;
padding:9px 0 0 0;
margin:18px 0 18px 0;
}
h2 {
color:#000;
font-size:2em;
margin:0 0 18px 0;
}
article > header {
position:absolute;
top:37px;
}
article > header h2 {
margin:0;
padding-left:120px;
font-size:1.5em;
color:#b53268;
display: none;
}
article > header p {display: none;}
footer {
border-top:2px solid #000;
border-bottom:1px dotted #000;
padding-top:9px;
margin:18px 0 18px 0;
font-size:.8em;
}
nav h2 {border-bottom:1px dotted #000;
font-size:1em;
color:#000;
margin-top: -18px;
padding-bottom: 18px;
}
nav h2:after{content: " from the list below. Currently viewing the 'HelvetiPink' theme. ";}
article a,
footer a {
color:#b53268;
text-decoration:none;
border-bottom:1px dotted #b53268;
}
article a:hover,
footer a:hover  {
color:rgba(181,50,104,.8);
border-bottom-style:solid;
}
ul {
margin-bottom:27px;
overflow:hidden;
}
ul li {
list-style:none outside;
display:block;
float:left;
margin:0 2px 2px 0;
-webkit-transition:all .5s ease-in-out;
font-size:1.5em;
position:relative;
overflow:hidden;
}
ul li a {
display:block;
color:#fff;
padding:9px 62px 18px 9px;
text-decoration:none;
background-color:#ce3978;
}
ul li a:hover,
ul li:hover a,
ul li a[href="#HelvetiPink"] {
background-color:#b53268;
-webkit-transition:all .5s ease-in-out;
}
ul li a + a {
background-color:transparent;
color:rgba(255,255,255,0);
font-size:.5em;
padding:0 0 0 9px;
position:absolute;
top:31px;
line-height:1.8;
-webkit-transition:all .5s ease-in-out;
}
ul li a + a:before {content:'By: ';}
ul li:hover a + a,
ul li a[href="#HelvetiPink"] + a {
background-color:transparent;
color:rgba(255,255,255,.7);
}
article {clear:both;}
ol {margin-left:22px;}	
ol li {margin:0 0 18px 0;}	
p {
line-height:1.5;
margin-bottom:27px;
}