
/* CSS1K entry
 * "In Rainbows" by Maaike de Laat (http://maaikedelaat.nl)
 * This file is unminified for legibility, for size proof add '-min' to the end of the filename */

body {
	background: #857cb5;
	background: -moz-linear-gradient(top, #68c7d8 0%, #ad1283 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #68c7d8), color-stop(100%, #ad1283)) fixed;
	background: -webkit-linear-gradient(top, #68c7d8 0%, #ad1283 100%) fixed;
	background: -o-linear-gradient(top, #68c7d8 0%, #ad1283 100%);
	background: -ms-linear-gradient(top, #68c7d8 0%, #ad1283 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68c7d8', endColorstr='#ad1283', GradientType=0 );
	background: linear-gradient(top, #68c7d8 0%, #ad1283 100%);
	line-height:1.4;
}

article h2 {
	font-size:32px;
	color:#fff;
	letter-spacing:-1px;
	margin-bottom:-.2em;
}

article header h2, header p {
	color:#ff0;
	margin-bottom:-15px;
	font-size:48px;
	width:55%;
	margin-left:20px;
}

h1, h2, header p, footer {
	font: bold 18px/1.2 Helvetica, Arial;
	clear:left;
}

a {
	color:#74a9ca;
}

h1 {
	color:#75a6c9;
	position:absolute;
	font-size:280px;
	z-index:-1;
	top:-.95em;
	left:-40px;
}

nav {
	float:right;
	width:15%;
	margin:-40px 20% 20px 0;
	background: rgba(0, 0, 0, 0.8);
	color:#fff;
	padding:10px 20px;
}

nav h2:after {
	content:' \2192';
}

nav:hover h2:after {
	content:' \2193';
}

nav ul {
	display:none;
}

nav:hover ul {
	display:block;
	list-style:none;
	padding:0;
}

nav li {
	margin-bottom:5px;
}

nav a {
	color:#fff;
	display:block;
	text-decoration:none;
	font-style:italic;
}

nav a:hover {
	color:#ff0;
}

nav a:first-child {
	border-top:1px solid #fff;
	padding-top:8px;
	margin-top:8px;
	font-style:normal;
}

section, footer {
	width:25%;
	float:left;
	margin:20px;
}

section p, section ol {
	padding:20px;
	background:#fff;
	list-style:inside decimal;
}
