/* CSS1K entry
 * "iPad" by Ad@m (http://adamscode.sourceforge.net)
 * This file is unminified for legibility, for size proof add '-min' to the end of the filename */
html,body,h1,h2,nav,p,a,article,section,header,footer{
    margin:0;
    padding:0;
    border-width:0;
}
html{
    font:13pt "Helvetica Neue",Helvetica,sans-serif;
    background:#EFEFEF;
    background:#EFEFEF -webkit-gradient(linear,0 0,0 100%,from(#EFEFEF),to(#E0E0E0));
    background:#EFEFEF -moz-linear-gradient(#EFEFEF,#E0E0E0);
    background:#EFEFEF -ms-linear-gradient(#EFEFEF,#E0E0E0);
    background:#EFEFEF -o-linear-gradient(#EFEFEF,#E0E0E0);
    background:#EFEFEF linear-gradient(#EFEFEF,#E0E0E0);
}
header h1{
    display:none;
}
article h2,nav h2{
    color:#717880;
    font-size:18px;
    line-height:42px;
    text-align:center;
    text-shadow:0 1px 0 #E1E3E8;
    border-top:1px solid white;
    border-bottom:1px solid #797F90;
    background:#F4F5F7;
    background:#F4F5F7 -webkit-gradient(linear,0 0,0 100%,from(#F4F5F7),to(#A8ACB9));
    background:#F4F5F7 -moz-linear-gradient(#F4F5F7,#A8ACB9);
    background:#F4F5F7 -ms-linear-gradient(#F4F5F7,#A8ACB9);
    background:#F4F5F7 -o-linear-gradient(#F4F5F7,#A8ACB9);
    background:#F4F5F7 linear-gradient(#F4F5F7,#A8ACB9);
}
article header p{
    font-style:italic;
}
section{
    position:relative;
    z-index:1;
}
body>header{
    position:absolute;
    top:0;
    left:0;
    width:300px;
    z-index:2;
}
article>header,section,footer{
    margin-left:300px;
}
ul{
    margin:0;
    padding:0;
    list-style-image:none;
    background:white;
}
ul li{
    border-bottom:1px solid #ccc;padding:4px;
}
ul a{
    display:block;
    color:black;
}
ul a:first-child{
    font-weight:bold;
}
ul li:hover,ul li:hover a{
    background:blue;
    color:white;
}