body {
	background:#272822;
	font:92% sans-serif;
	color:#fff;
}
h1 {
	color:#f27;
}
a {
	color:#ae3;
	text-decoration:none;
}
a:hover {
	color:#fff;
}
article {
	width:33%;
	margin:0 auto;
}
h1,footer {
	position:fixed;
	top:0;
	left:0;
}
h1 {
	font-size:48px;
	padding-left:25px;
}
h1:before {
	content:'{';
}
h1:after {
	content:'}';
}
h1:before,
h1:after {
	font-size:62px;
	color:#ee7;
}
nav {
	float:right;
	overflow:hidden;
	margin-left:-50%;
	padding-right:18px;
}
nav h2 {
	color:#6de;
	font-size:16px;
	text-align:right;
}
nav ul {
	list-style:none outside;
	position:relative;
	opacity:0;
	left:100%;
	-webkit-transition-property:left,opacity;
	-webkit-transition:.5s ease-in-out;
	-moz-transition-property:left,opacity;
	-moz-transition:.5s ease-in-out;
	-ms-transition-property:left,opacity;
	-ms-transition:.5s ease-in-out;
	-o-transition-property:left,opacity;
	-o-transition:.5s ease-in-out;
	transition-property:left,opacity;
	transition:.5s ease-in-out;
}
nav:hover ul {
	opacity:1;
	left:0;
}
nav ul li {
	font-size:13px;
	margin:0 0 1em;
	padding:0 0 3px;
	border-bottom:1px dotted #b8f;
}
nav ul li a:first-child {
	color:#f92;
	font-size:16px;
	display:block;
}
nav ul li a:last-child:before {
	content:'by ';
	padding-left:2em;
}
article header {
	margin-top:60px;
	width:auto;
}
article h2 {
	color:#E53;
}
article h2:after {
	content:' ¶';
	color:#272822;
}
article h2:hover:after {
	color:#b8f;
}
article p {
	text-indent:.5em;
}
footer {
	top:8em;
}
footer p {
	white-space:pre;
	margin:0;
	opacity:.6;
}