body{
    color:#fff;
    font:1em"Trebuchet MS";
    background:#000;
    background:-webkit-gradient(
        radial,
        50% 0,200,
        50% -99,900,
        from(rgba(0,0,0,0)),to(#000)
    ),
    -webkit-gradient(
        linear,
        right top,
        left top,
        from(#f14),
        color-stop(.6,#e1b),
        to(#0ae)
    );
    background: -moz-radial-gradient(
        50% 0,
        circle closest-corner,
        rgba(0,0,0,0),
        #000
    ), 
    -moz-linear-gradient(
        right center,
        #f14 30%,
        #e1b 60%,
        #0ae 99%
    )
}

abbr:after,p a:before{
    content:"";
    position:absolute;
    margin-left:-22%;
    top:0;
    width:8em;
    height:999px;
    opacity:.17;
    z-index:-1;
    background-image: -webkit-gradient(
        linear,
        right top,
        left top,
        from(rgba(0,0,0,0)),
        color-stop(.5,#000),
        to(rgba(0,0,0,0))
    );
    background-image:-moz-linear-gradient(
        right center,
        rgba(0,0,0,0) 0,
        #000 50%,
        rgba(0,0,0,0) 99%
    );
}
p a:before{margin-left: 2%}


body>header,article{float:left;width:35%}
a{color:#f14}
h1{font-size:6em}
h1,nav{text-align:right}
nav li{list-style:none;margin:1em 0}
nav a{margin:-3px 0;display:block}
a+a{color:#fff}

article{margin:250px 0 0 50px;background:rgba(0,0,0,.2);padding:0 30px}

footer{padding:20px 0 40px 35%;clear:both}