/* CSS1K entry
 * "Notepad" by Wout Mager (http://woutmager.nl)
 * This file is unminified for legibility, for size proof add '-min' to the end of the filename */
html {
    border-width: 40px 100px 80px 100px;
    border-color: #513201;
    border-style: solid;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.25) 50%, rgba(0,0,0,0.12) 51%, rgba(0,0,0,0) 60%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(40%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.25)), color-stop(51%,rgba(0,0,0,0.12)), color-stop(60%,rgba(0,0,0,0)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0.12) 51%,rgba(0,0,0,0) 60%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0.12) 51%,rgba(0,0,0,0) 60%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0.12) 51%,rgba(0,0,0,0) 60%,rgba(255,255,255,0) 100%);
    background: linear-gradient(left, rgba(255,255,255,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0.12) 51%,rgba(0,0,0,0) 60%,rgba(255,255,255,0) 100%)
}

body {
    padding: 98px 10%;
    -webkit-box-shadow: 0 1px 20px rgba(0,0,0,.75);
	box-shadow: 0 1px 20px rgba(0,0,0,.75);
    margin: 0 auto;
    float: left;
    background: -webkit-repeating-linear-gradient(transparent, transparent 29px, rgba(26,146,208,0.2) 29px, rgba(26,146,208,0.2) 30px);
    background: -moz-repeating-linear-gradient(transparent, transparent 29px, rgba(26,146,208,0.2) 29px, rgba(26,146,208,0.2) 30px);
    background: -ms-repeating-linear-gradient(transparent, transparent 29px, rgba(26,146,208,0.2) 29px, rgba(26,146,208,0.2) 30px);
    background: -o-repeating-linear-gradient(transparent, transparent 29px, rgba(26,146,208,0.2) 29px, rgba(26,146,208,0.2) 30px);
    background: repeating-linear-gradient(transparent, transparent 29px, rgba(26,146,208,0.2) 29px, rgba(26,146,208,0.2) 30px)
}

* {
    font: 13px/30px "Lucida Grande", Arial, sans-serif;
    position: relative
}

h1, nav h2 {
    top: -6px;
    font-size: 32px;
    font-weight: bold
}

h2 {
    margin: 0;
    font-size: 16px;
    top: -1px
}

h2 abbr {
    font-weight: bold
}

p, ul, ol, h1, nav h2 {
    margin: 0 0 30px;
}

a {
    text-decoration: none;
    color: #066eb7
}

a:hover {
    text-decoration: underline
}

article, nav {
    width: 45%
}

nav {
    float: right;
    top: -60px
}

nav ul {
    list-style-type: none;
    padding: 0
}

nav * {
    font-family: "Comic Sans", "Comic Sans MS", cursive
}

nav li a:first-child {
    display: inline;
    background: #066eb7;
    color: #fff;
    padding: 2px 10px;
    border-radius: 4px;
    text-decoration: none
}

nav li a:first-child:hover {
    background: #000
}

nav ul li:nth-child(3n+1) {
	-webkit-transform:rotate(-1.8deg);
	-moz-transform:rotate(-1.8deg);
	-ms-transform:rotate(-1.8deg);
	-o-transform:rotate(-1.8deg);
	transform:rotate(-1.8deg)
}
