body {
	background: #000;
	font: 85% Calibri, Arial;
	margin: 0;
}
body, a {
	color: #FFF;
}
body > * {
	position: relative;
}
body > header {
	background: #CEF;
	height: 150px;
}
@-moz-keyframes logo {
	50% {
		-moz-transform: translateY(5px);
	}
}
@-webkit-keyframes logo {
	50% {
		-webkit-transform: translateY(5px);
	}
}
@keyframes logo {
	50% {
		transform: translateY(5px);
	}
}
h1 {
	border-bottom: 30px solid #000;
	bottom: 0;
	color: #000;
	font-size: 6em;
	margin: 0 0 0 35%;
	position: absolute;
	text-align: center;
	width: 330px;
	/*
	z-index: 4;
	*/
	-moz-animation: logo 5s linear infinite;
	-webkit-animation: logo 5s linear infinite;
	animation: logo 5s linear infinite;
}
h1:after {
	border: 40px solid transparent;
	border-bottom: 20px solid #778;
	content: '';
	display: block;
	margin-top: -.9em;
}

nav {
	overflow: hidden;
	position: absolute;
	left: 5%;
	top: 150px;
	width: 180px;
	z-index: 8;
}
ul {
	padding: 0;
}
/*
ul li {
	border: 2px solid #FFF;
	border-radius: 100px;
	float: right;
	list-style: none;
	margin: 10px;
	padding: 15px;
}
ul a {
	display: block;
	font-size: .9em;
}
*/
ul a:first-child {
	font-weight: bold;
	margin-right: 5%;
}


article {
	background: #039;
	background: -moz-linear-gradient(top, #039 0%, #000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#039), color-stop(100%,#000));
	background: -webkit-linear-gradient(top, #039 0%,#000 100%);
	background: -o-linear-gradient(top, #039 0%,#000 100%);
	background: -ms-linear-gradient(top, #039 0%,#000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#039', endColorstr='#000011',GradientType=0 );
	background: linear-gradient(top, #039 0%,#000 100%);
	padding: 5px 0;
}
/*article:before, */article:after {
	background: #039;
	background: -moz-repeating-radial-gradient(40px -30px, circle, transparent, transparent 50px, #039 53px, #039);
	background: -webkit-gradient(radial, 40 -30, 50, 40 -50, 71, from(transparent), to(#039));
	background: repeating-radial-gradient(40px -30px, circle, transparent, transparent 50px, #039 53px, #039);
	background-size: 79px 100%;
	content: '';
	height: 40px;
	position: absolute;
	top: -20px;
	width: 100%;
	z-index: 6;
}
/*
article:before {
	background: #35D;
	background: -moz-repeating-radial-gradient(27px -7px, circle, transparent, transparent 30px, #35D 35px, #35D);
	background: -webkit-gradient(radial, 27 -10, 33, 27 -32, 60, from(transparent), to(#35D));
	background: repeating-radial-gradient(27px -7px, circle, transparent, transparent 30px, #35D 35px, #35D);
	background-size: 52px 100%;
	top: -35px;
	z-index: 2;
}
*/
article > *, footer p {
	margin: 0 auto;
	width: 50%;
}