body{background:#000;font:85% Calibri,Arial;margin:0}
body,a{color:#FFF}
body>*{position:relative}
body>header{background:#CEF;height:150px}
@keyframes logo{50%{transform:translateY(5px)}}
h1{border-bottom:30px solid #000;bottom:0;color:#000;font-size:6em;margin:0 0 0 33%;position:absolute;text-align:center;width:330px;animation:logo 5s linear infinite}
h1:after{border:40px solid transparent;border-bottom:20px solid #778;content:'';display:block;margin-top:-.9em}
nav{overflow:hidden;position:absolute;left:5%;top:150px;width:160px;z-index:8}
ul{padding:0}
ul a:first-child{font-weight:bold;margin-right:5%}
article{background:#039;background:linear-gradient(top,#039 0,#000 100%);padding:5px 0}
article:after{background:#039;background:repeating-radial-gradient(40px -30px,circle,transparent,transparent 50px,#039 53px,#039);background-size:79px 100%;content:'';height:40px;position:absolute;top:-20px;width:100%;z-index:6}
article>*,footer p{margin:0 auto;width:50%}