body {
  background: #888;
  color: #fff;
  margin: 0 auto;
  max-width: 1200px;
  font-family: sans-serif;
  padding-left: 2%;
}
a {
  color: #222;
}
a:hover {
  color: #444;
}
h1, nav, article {
  box-shadow: 0 1px 5px 3px #666;
}
h1, nav {
  background: #222;
}
h1 {
  margin-top: 0;
  padding: 6% 2% 1%;
  font-size: 5em;
  float: left;
}
nav {
  max-width: 30%;
  padding: 0 2%;
  float: right;
  margin-right: 2%;
}
nav h2 {
  padding: 9px;
}
nav ul {
  list-style: none;
  padding-left: 0;
}
nav ul li {
  margin-bottom: .5em;
}
nav ul li a {
  color: #999;
  font-size: .8em;
  text-decoration: none;
}
nav ul li a:first-child {
  color: #fff;
  padding: .3em;
}
article {
  background: #eee;
  padding: 3%;
  color: #444;
  max-width: 60%;
  clear: left;
}
article:after, footer:after {
  display: block;
  content: " ";
  clear: left;
}
section {
  width: 46%;
  float: left;
  margin-right: 4%;
}
@media screen and (max-width: 800px) {
  section {
    width: 98%;
    float: none;
  }
}
@media screen and (max-width: 400px) {
  h1,
  nav,
  ul,
  article,
  footer,
  h2 {
    max-width: 98%;
    float: none;
    margin: 0;
    padding-left: 1%;
    padding-right: 1%;
  }
  ul {
    display: none;
  }
  nav:hover ul, nav:focus ul {
    display: block;
  }
}
