/* CSS1K entry
 * "Slowpoke" by Vadim Sikora (http://twitter.com/vxsx/)
 * This file is unminified for legibility, for size proof add '-min' to the end of the filename */

html {
    background:#f4f2ef;
    color: #333;
}
body {
    font:16px/24px Georgia;
    margin: 0 auto;
    padding-top: 40px;
    width: 42em;
}
h1,h2,nav {
    font-family: helvetica;
}
a {
    color: #666;
}
a:hover {
    background: #6cf;
    outline: 3px solid #6cf;
    color: white;
    text-decoration: none;
}
nav a {
    display: block;
    text-decoration: none;
    position: absolute;
    text-align: center;
    width: 15em;
    line-height: 30px;
    height: 30px;
    opacity: 1;
    -moz-transition: opacity linear .2s 2s;
    -o-transition: opacity linear .2s 2s;
    transition: opacity linear .2s 2s;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all linear .2s 2s;
    transition: all linear .2s 2s;
    backface-visibility: hidden;
    color: #000;
    -webkit-box-shadow: rgba(0, 0, 0, .2) 1px 1px 1em;
    box-shadow: rgba(0, 0, 0, .2) 1px 1px 1em;
}
nav a+a {
    background: #6cf;
    -webkit-transform: rotatex(180deg);
    -moz-transform: rotatex(180deg);
    -ms-transform: rotatex(180deg);
    -o-transform: rotatex(180deg);
    transform: rotateX(180deg);
    opacity: 0;
}
nav li:hover a{
    opacity: 0;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
nav li:hover a+a {
    opacity: 1;
    color: #fff;
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
}
nav a:hover {
    outline: none;
}
h1 {
    font-size: 12em;
}
nav ul {
    margin: 0; padding: 0;
}
nav li {
    display: inline-block;
    width: 15em;
    height: 30px;
    margin: 0 1em 1em 0;
    font-size: 14px;
    text-align: center;
    -webkit-perspective: 400;
    perspective: 400;
}
[role]:after {
    content:'';
    display: block;
    border-bottom: 1px solid #333;
}
[role]>* {
    padding: 10px;
    margin: 10px -10px 10px;
    opacity: .3;
    -moz-transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -o-transition: all linear .2s;
    transition: all linear .2s;
}
[role]>*:hover {
    opacity: 1;
}
footer {
    text-align: right;
}
