/* CSS1K entry
 * "Solarized" by Seldor Design Komplex
 * Design is inspired from the Solarized Color Schema from http://ethanschoonover.com/solarized
 * This file is unminified for legibility, for size proof add '-min' to the end of the filename */


html {
	
	background: #93a1a1;
}


body {
	background: #002b36;
	color: #268bd2;
	font: 14px "Monaco", monospace;
	margin: 20px auto;
	width:960px;
    -webkit-box-shadow:10px 0 20px #000;
	box-shadow:10px 0 20px #000;
    border-radius:5px 5px 0 0;
}


header h1 {
	
	
	font-size: 20px;
	color: #b58900;
	text-transform:lowercase;
	text-align:center;
	height:24px;
	border-radius:5px 5px 0 0;
	background-color: #eee8d5;
  
       
	
	
}

article {
	
	margin:0 20px 10px;
	
}

p {
	
	margin:0 25px;
}

h2:before {
    content: "$ ";
}


h2, a {
	color: #d33682;
}


h1:before {content: "[solarized@"}
h1:after {content: " ~]"}


nav {padding-top:20px;}

nav h2 {
	margin-left:20px;
}

nav ul {
	list-style-type: none;
	padding: 0 45px 30px;
	height:200px;
}

nav li {width: 280px;
float: left;
}


nav li a {color:#cb4b16;}

nav li a:nth-child(2) {
	color: #859900;
	padding-left:-1px;
}

nav li a:nth-child(1) {
	
	margin-right:-9px;
}


nav li a:nth-child(2):before {
	content: "."
}


a {
	text-decoration: none
}

 a:hover {
	border-bottom: 1px solid #dc322f;
}

footer {
	font-style: italic;
	color: #859900;
	padding:25px 0;
	text-align:right;
}
