/* CSS1K entry
 * "Sourcy" by Roman Komarov (http://kizu.ru/en/)
 * This file is unminified for legibility, for size proof add '-min' to the end of the filename */

/*
    These styles use some extreme minifications for selectors and rules, usable only for CSS1K's HTML.

    “<cite>”, “<abbr>”, “<dfn>” and “rel” attribute for “<a>” are not styled
    'cause they can't get in 1024bytes limit, sorry.
*/

* { /* This is the styles for an HTML tag, so “* *” would overwrite this later */
    max-width: 83ex; /* ~ 62 symbols wide */
    padding: 2ex 0 0 11ex; /* ex is more like one monospace letter */
    margin: auto;

    background: #FFE;
    color: #678;
    text-decoration: none;
    }
BODY>*>* {
    padding: 0 2.2ex; /* One monospace letter is more like 1.1ex */
    }
* *, /* This is a regular “*”, but without HTML tag :) */
FOOTER>* {
    margin: 0;
    padding: 0;

    font: 1em/1.5 Consolas, Monaco, monospace;
    list-style: decimal inside; /* Would work only for OL, but so no need for selector */
    }
H2,UL,OL,P {
    margin: 0 0 1.5em;
    }
UL>LI {
    display: block; /* works like “list-style: none” */
    }

/* Links look better when nowrapped and have a hover */
A,
A * {
    white-space: nowrap;
    color: #000;
    }
A:hover,
A:hover * {
    background: #DCB;
    }

/* Block-level HAML tags */
BODY:before,
[role]:before,
[role]>*:before,
NAV:before,
[role]:after {
    display: block;
    margin: 0 100% 0 -4.4ex;
    }

BODY:before   { content: '!!! %html   %head= render :partial=>"head"   %body     %header';margin-left: -8.8ex; }
H1:before     { content: "%h1 "; margin-left: -4.4ex; }
[role]:before { content: "%article(role='main')   %header     :markdown "; width: 14em; } /* Hardcoded role, need bytes */

/* tags with MarkDown inside */
NAV:before     { content: "%nav   :markdown"; }
[role]:after   { content: "%footer   :markdown"; }
SECTION:before { content: "%section   :markdown"; }

/* Inline MarkDown tags */
H2:before              { content: "## "; }
UL>LI:before           { content: "* "; }
A:before               { content: "["; }
A:after                { content: "]("attr(href)")"; }
CODE:before,CODE:after { content: "`"; }
B:before,B:after       { content: "**"; }
EM:before,EM:after     { content: "_"; }
