a{ color: #fff; font-weight: bold; }

a:hover,h2,h1{ text-shadow: #666 1px 0 1px; }

article{
	float: left;
	width: 600px;
	background: #292;
	border-radius: 160px;
	border-top-right-radius: 60px;
	border-bottom-left-radius: 60px;
	padding: 20px 50px;
	border: 8px solid #cec;
	margin: 8px 40px 8px -50px;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-ms-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	transform: skew(-20deg);
}

article p,article h2,ol{ 
	-webkit-transform: skew(20deg); 
	-moz-transform: skew(20deg); 
	-ms-transform: skew(20deg); 
	-o-transform: skew(20deg); 
	transform: skew(20deg); 
}

body{
	background: #49e;
	color: #fff;
	font-family: Calibri,sans-serif;
	background: -moz-linear-gradient(top, #9cf 0%, #49e 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9cf), color-stop(100%,#49e)); 
	background: -webkit-linear-gradient(top, #9cf 0%,#49e 100%); 
	background: -o-linear-gradient(top, #9cf 0%,#49e 100%); 
	background: -ms-linear-gradient(top, #9cf 0%,#49e 100%); 
	background: linear-gradient(top, #9cf 0%,#49e 100%);
}

footer{ clear: both; text-align: right; margin: 20px; }

h1{
	padding: 50px 10px;
	float: left;
	font-size: 400%;
	background: -moz-radial-gradient(#ff0,#f93); 
	background: -webkit-radial-gradient(#ff0,#f93); 
	background: -o-radial-gradient(#ff0,#f93);
	background: -ms-radial-gradient(#ff0,#f93);
	background: radial-gradient(#ff0,#f93);
	border-radius: 100px;
	margin: auto;
}

h2{ margin-bottom: 0; }

nav a:last-child:before{ content: ' by '; }

nav h2 { float: right; }

nav h2:before { content: '\27A3\A0'; }

nav li { display: inline; margin: 8px 15px 0 0; }

nav ul { display: none; }

nav:hover ul{
	border-radius: 20px;
	padding: 20px;
	display: block;
	position: absolute;
	margin: 20px;
	background: rgba(0,0,0,0.65);
	z-index: 2;
}

p,ol{ margin-top: 0; }
