/* CSS1K entry
 * "Swiss" by Chris Lee (http://chrsl.net)
 * This file is unminified for legibility, for size proof add '-min' to the end of the filename */

body {
	background: #c30 ;
	color: #fafafa;
	font: 14px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 60px 0 10px;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	width: 800px;
}

a {
	color: #fc0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul, ol {
	padding: 0 0 0 40px;
}

nav {
	background: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	color: #444;
	font-size: 12px;
	position: absolute;
	top: 0;
	width: 100%;
	text-shadow: none;
}

nav h2 {
	margin: 0;
	padding: 10px 40px;
}

nav ul {
	display: none;
	list-style: none;
	padding-bottom: 10px;
}

nav:hover ul {
	display: block;
}

nav a {
	color: #aaa;
}

nav a:first-child {
	color: #888;
	font-weight: bold;
	margin-right: 5px;
}

h1 {
	font-size: 144px;
	line-height: 1;
	margin: 0;
	padding: 0 40px;
	text-transform: lowercase;
}

article {
	padding: 0 40px;
}

article header{
	margin-bottom: 60px;
}

article header h2 {
	font-weight: normal;
	font-style: italic;
	margin: 0;
	text-transform: lowercase;
}

section {
	background: rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.3);
	-ms-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.3);
	margin-bottom: 20px;
	padding: 20px;
}


footer {
	font-size: 12px;
	padding: 0 40px;
}
