* {
    color:#0f0;
}

body {
    font:13px/1.4 courier;
    text-align:justify;
    background:#000;
    width:62em;
    margin:auto;
}

a {
    text-decoration:none;
    border-bottom:1px dashed;
}

a:hover {
    border-bottom:1px solid;
}

h1, h2 {
    text-transform:uppercase;
}

h1, :before, :after {
    visibility:visible;
    display:block;
    text-align:center;
}

h1 {
    visibility:hidden;
}

h1, nav>h2:before {
    font:13px/0 courier;
}

body:before {
    margin:2em 0 0;
    content:'  _____  _____ _____ __ __  __';
}

body:after {
    content:'(END) ';
    color:#000;
    background:#0f0;
}

body>header:before {
    content:' / ____|/ ____/ ____/_  | |/ /';
}

h1:before {
    content:'| |    | (___| (___  | | \' /';
}

h1:after {
    margin:10px 0 0;
    content:' | |     \\___ \\\\___ \\ | |  <  ';
}

nav:before {
    content:' | |____ ____) |___) || | . \\ ';
}

nav>h2:before {
    margin:-.7em 0 3em;
    content:'  \\_____|_____/_____/ |_|_|\\_\\';
}

body:after, nav>*>*:before {
    display:inline-block;
}

nav>*>* {
    display:block;
}

nav>*>*:before {
    content:'* ';
}

footer:before {
    position:absolute;
    top:5px;
    content:'> man CSS1K'
}

nav>*>*>*+* {
    border:0;
}
