/* CSS1K entry
 * "The Rhythm" by Roman Komarov (http://kizu.ru/en/)
 * This file is unminified for legibility, for size proof add '-min' to the end of the filename */

/* Commons */
HTML,
BODY * {
	position: relative;

	padding: 0;
	margin: 0;

	font: 1em/1.5 Calibri, "Helvetica Neue", Arial;
	text-decoration: none;
	}
HTML {
	padding: 1.6em 18em 1.1em 2em;

	font-size: 14px;
               
	color: #333;
	background: #FFF;
	}

/* Somewhat responsible layout (middle column centered if there is enough space) */
BODY {
	max-width: 42em;
	margin: 0 auto;
	}
BODY>* {
	width: 26em;
	margin-left: auto;
	}

/* Styles for afters */
* :after { /* Star needed 'cause there is a bug in Chrome */
	content:"";

	position: absolute;
	top: 0;
	right: 0;
	bottom: -.5em;
	left: 0;

	pointer-events: none;
	}

/* Grid background */
BODY:after {
	background: -webkit-gradient(linear, 0 0, 0 1, from(#000), to(#FFF));
	background: -webkit-linear-gradient(#000 0,#FFF 1px);
	background:    -moz-linear-gradient(#000 0,#FFF 1px);
	background:      -o-linear-gradient(#000 0,#FFF 1px);
	background:         linear-gradient(#000 0,#FFF 1px);
	background-size: 1% 1.5em;

	opacity: .2;
	}

/* Gradient for headers */
H1:after,
H2:after {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(hsla(0,0%,100%,0)), to(#FFF));
	background: -webkit-linear-gradient(hsla(0,0%,100%,0),#FFF);
	background:    -moz-linear-gradient(hsla(0,0%,100%,0),#FFF);
	background:      -o-linear-gradient(hsla(0,0%,100%,0),#FFF);
	background:         linear-gradient(hsla(0,0%,100%,0),#FFF);
	}

/* Sidebar */
NAV {
    position: static;
    
	float: right;
	margin: 10.5em -16em 0;

	width: 14em;
	}
UL>*,
SCRIPT { /* Clearing long list of designs */
	display: block;

	clear: both;
	white-space: nowrap;
	}

/* Headers */
H1 {
	top: -.03em;
	left: -7px; /* Better typography */

	font: bold 8em/1.125 Calibri, "Helvetica Neue",Arial; /* Neue 'cause plain Helvetica have issues with line-height in different browsers */
	letter-spacing: -2px;
	}
H2 {
	top: .75em;
	left: -2px; /* Better typography */

	font-size: 2em;
	line-height: .75;
	}
H2>* {
	line-height: 0;
	}

/* Styles for content */
H1,
H2 {
	color: #555;
	}

P,H2 {
	margin: 0 0 1.5em;
	}

FOOTER>P,
UL A+A {
	margin: .2em 0;

	font-size: 12px;

	color: #888;
	}

/* Links */
A {
	padding: .2em 0;

	color: #33F;
	}
A:hover {
	text-decoration: underline;
	}
UL A+A:hover {
	color: #000;
	}
UL A {
	margin: 0 .5em 0 0;
	}

/* Showing elements through body's before */
P,OL,A {
	z-index: 9;
	}
