body {
    background: #023;
    color: #899;
    margin: 1% 25%
    }

* {
    text-decoration: none;
    margin: 0;
    font: 13px/1.5 serif
    }

ul {
    list-style: none;
    padding: 0
    }

a {
    color: #399;
    padding: 0.2em 0.4em
    }

footer, nav h2, a:hover {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
    }

a:hover {
    color: #023;
    background: #399
    }

h1, h2 {
    color: #abb;
    font-size: 20px;
    margin: 0.7em 0;
    font-style: italic;
    letter-spacing: -1px
    }

p {
    margin: 0.5em 0
    }

nav {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 25%;
    width: 0
    }

nav:hover {
    width: 50%
    }

nav h2 {
    position: fixed;
    right: 25%;
    background: #134;
    padding: 9px
    }

nav:hover h2, nav h2:hover {
    background: #399;
    color: #bcc;
    -webkit-transform: rotate(90deg) translate(11em, 1em) scale(3.5);
    -moz-transform: rotate(90deg) translate(11em, 1em) scale(3.5);
    -o-transform: rotate(90deg) translate(11em, 1em) scale(3.5);
    -ms-transform: rotate(90deg) translate(11em, 1em) scale(3.5);
    transform: rotate(90deg) translate(11em, 1em) scale(3.5)
    }

ul:hover, nav:hover ul {
    width: 100%;
    height: auto
    }

ul {
    width: 0;
    height: 0%;
    overflow: hidden;
    background: #023
    }

h2, nav, ul {
    -webkit-transition: width 2s, -webkit-transform 2s;
    -moz-transition: width 2s, -moz-transform 2s;
    -o-transition: width 2s, -o-transform 2s;
    transition: width 2s, transform 2s
    }

ul li {
    padding: 0.5em 0;
    border-bottom: 1px solid #134
    }

li a+a {
    color: #899;
    font-style: italic
    }

li a+a:hover {
    background: #134;
    color: #899
    }

nav a {
    display: inline-block;
    vertical-align: top;
    width: 30%
    }

article {
    margin: 5% 0
    }

footer {
    background: #134;
    padding: 1em
    }