BODY {
	position:relative;
	margin:0;
	min-height:100%;
	background:#EEE;
	color:#333;
	font:14px sans-serif;
	}
BODY>HEADER,
FOOTER {
	position:fixed;
	top:0;
	right:50px;
	left:50px;
	padding:0 49px;
	background:#A7A7A7;
	background:-webkit-linear-gradient(#CCC 0%, #AAA 100%) 0 0;
	background:-moz-linear-gradient(#CCC 0%, #AAA 100%) 0 0;
	background:-ms-linear-gradient(#CCC 0%, #AAA 100%) 0 0;
	background:-o-linear-gradient(#CCC 0%, #AAA 100%) 0 0;
	background:linear-gradient(#CCC 0%, #AAA 100%) 0 0;
	-webkit-box-shadow:0 3px 4px #666;
	-moz-box-shadow:0 3px 4px #666;
	-ms-box-shadow:0 3px 4px #666;
	box-shadow:0 3px 4px #666;
	text-shadow:0 1px 0 #DDD;
	}
FOOTER {
	top:auto;
	bottom:0;
	-webkit-box-shadow:0 3px 4px #666;
	-moz-box-shadow:0 3px 4px #666;
	-ms-box-shadow:0 3px 4px #666;
	box-shadow:0 -3px 4px #666;
	}
A {
	color:#000;
	}
A:hover {
	text-decoration:none;
	}
H1 {
	float:left;
	margin:15px 0;
	font-size:24px;
	}
NAV {
	float:right;
	padding-left:120px;
	}
NAV H2 {
	margin:18px 0;
	border-bottom:1px dotted #333;
	font-size:18px;
	}
NAV:hover H2 {
	padding:0 0 1px;
	border:0;
	}
NAV UL {
	position:absolute;
	top:56px;
	right:0;
	display:none;
	margin:0;
	padding:0;
	background:#AAA;
	-webkit-box-shadow:0 5px 4px #666;
	-moz-box-shadow:0 5px 4px #666;
	-ms-box-shadow:0 5px 4px #666;
	box-shadow:0 5px 4px #666;
	list-style:none;
	text-align:left;
	}
NAV:hover UL {
	display:block;
	}
NAV LI {
	overflow:hidden;
	margin:9px 50px;
	text-align:right;
	}
NAV A:first-child {
	float:left;
	margin:0 50px 0 0;
	}
NAV A:last-child {
	text-decoration:none;
	}
NAV A:last-child:before {
	content:"by ";
	}
ARTICLE {
	padding:50px 99px;
	}
ARTICLE HEADER,
SECTION {
	display:block;
	margin:50px 0;
	}

