/* CSS1K entry
 * "Traffic Lights" by Dennis Madvedovsky (http://cascadi.ca)
 * This file is unminified for legibility, for size proof add '-min' to the end of the filename */
body {
    margin: 20px;
    color: #444;
    font:12px/1.2 Arial;
}
body > header {
    float: left;
    width: 20%;
}
h1 {
    font-size: 50px;
    margin: 0 0 15px 0;
    color: #fccd32;
    text-shadow: 1px 1px 1px #ccc;
}
h1:before, h1:hover:after {
	content: "⊗";
    color: #f00;
}
h1:after, h1:hover:before {
	content: "⊗";
    color: #0f0;
}
article[role=main] {
    float: left;
    width: 80%;
}
ul, h2 {
    padding:  0;
    margin: 0;
}
ul li {
    list-style: none;
    padding: 4px;
    margin-right: 9px;
}
ul li a {
    display: block;
    color: #444;
    text-decoration: none;
}
ul li a:first-child {
    font-weight: bold;
    font-variant: small-caps;
}
ul li:nth-child(odd) {
    background: #ccc;
}
ul li:nth-child(odd) a {
    color: #fff;
}
article header, section {
    padding:  9px;
    -webkit-box-shadow: 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px #ccc;
    -ms-box-shadow: 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px #ccc;
}
article header {
    background: -webkit-radial-gradient(95% 45deg, circle closest-corner, #f00 30%, #fff 100%);
    background: -moz-radial-gradient(95% 45deg, circle closest-corner, #f00 30%, #fff 100%);
    background: -ms-radial-gradient(95% 45deg, circle closest-corner, #f00 30%, #fff 100%);
    background: -o-radial-gradient(95% 45deg, circle closest-corner, #f00 30%, #fff 100%);
    background: radial-gradient(95% 45deg, circle closest-corner, #f00 30%, #fff 100%);
    -webkit-border-radius: 0 50px 50px 0;
    -moz-border-radius: 0 50px 50px 0;
    border-radius: 0 50px 50px 0;
    width: 40%;
    padding-right: 10%;
}
article section {
    background: -webkit-radial-gradient(95% 45deg, circle closest-corner, #0f0 50%, #fff 100%);
    background: -moz-radial-gradient(95% 45deg, circle closest-corner, #0f0 50%, #fff 100%);
    background: -ms-radial-gradient(95% 45deg, circle closest-corner, #0f0 50%, #fff 100%);
    background: -o-radial-gradient(95% 45deg, circle closest-corner, #0f0 50%, #fff 100%);
    background: radial-gradient(95% 45deg, circle closest-corner, #0f0 50%, #fff 100%);
    -webkit-border-radius: 0 110px 110px 0;
    -moz-border-radius: 0 110px 110px 0;
    border-radius: 0 110px 110px 0;
    width: 84%;
    padding-right: 15%;
}
section:nth-child(2) {
    background: -webkit-radial-gradient(95% 45deg, circle closest-corner, #fccd32 50%, #fff 100%);
    background: -moz-radial-gradient(95% 45deg, circle closest-corner, #fccd32 50%, #fff 100%);
    background: -ms-radial-gradient(95% 45deg, circle closest-corner, #fccd32 50%, #fff 100%);
    background: -o-radial-gradient(95% 45deg, circle closest-corner, #fccd32 50%, #fff 100%);
    background: radial-gradient(95% 45deg, circle closest-corner, #fccd32 50%, #fff 100%);
    -webkit-border-radius: 0 99px 99px 0;
    -moz-border-radius: 0 99px 99px 0;
    border-radius: 0 99px 99px 0;
    margin:  4px 0;
    width: 60%;
}
h2 {
    text-shadow: 1px -1px 1px #eee;
    font-size: 15px;
}
article a {
    color: #333;
}
footer {
    clear: both;
    text-align: center;
    padding: 20px;
}
