/* CSS1K entry
 * "Twttr" by Eugene Isakov (http://twitter.com/mem0ry_)
 * This file is unminified for legibility, for size proof add '-min' to the end of the filename */
body {
    font: 13px/1.5 arial;
    margin: 0;
}
body > * {
    width: 800px;
    margin: auto;
}
body > header,
body > header:before {
    display: block;
    position: fixed;
    top: 0;
    height: 40px;
}
body > header:before {
    content: '';
    left: 0;
    width: 100%;
    background: #222;
}
body > header {
    left: 50%;
    margin-left: -400px;
    color: #bbb;
}
nav {
    float: right;
    position: relative;
}
nav h2 {
    display: inline-block;
    height: 22px;
    margin: 0;
    padding: 9px;
    font-size: 13px;
    font-weight: normal;
}
nav h2:after {
    content: " ▼"
}
nav:hover h2 {
    color: #fff;
    background: #333;
}
h1 {
    position: relative;
    float: left;
    margin: 0;
    padding: 4px;
    font-size: 2em;
}
small {
    vertical-align: super;
    font-size: .5em;
    color: #fff;
    font-style: italic;
}
ul {
    list-style: none;
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
    width: 220px;
    background: #333;
}
ul li {
    padding: 6px 15px
}
ul li:hover {
    background: #444
}
ul a,
nav:hover ul {
    display: block;
    color: #bbb;
}
ul a:last-child {
    font-size: .8em
}
ul a:hover {
    color: #fff
}
article {
    margin-top: 60px;
    -webkit-box-shadow: 0 0 9px #999;
    -moz-box-shadow:    0 0 9px #999;
    -ms-box-shadow:     0 0 9px #999;
    box-shadow:         0 0 9px #999;
}
article header {
    padding: 16px
}
section {
    display: inline-block;
    vertical-align: top;
    width: 366px;
    padding: 0 16px;
}
p {
    text-indent: 1em
}
