/* CSS1K entry
 * "Winning" by Lucijan Blagonic (http://twitter.com/lblagonic)
 * This file is unminified for legibility, for size proof add '-min' to the end of the filename */
* {margin:0;}
body {
    font:normal 14px/150% Arial, sans-serif;
    background-color:#ccc;
    padding:20px;
}
nav h2 {margin-top:0;}
nav ul {
    padding:0;
}
nav li {
    display:inline;
    margin-right:10px;
}
nav a { 
    color:#888;
    font-weight:normal;
    text-decoration:none;
}
nav a:first-child { color:#444;}
nav a:first-child:after {
    content: ' \2192';
}
article {
    margin:50px auto 0;
    padding:30px 0;
    width:700px;
    border-radius:20px;
    background-color:#fff;
    display:block;
}
section { border-top:1px solid #eee; }
article header, section {
    display:block;
    padding:50px;
}
article header h2 {
    margin-top:0;
    font-size:28px;
    color:#222;
}
article header h2:after, article header h2:before {
    content: '\2605 ';
    padding:0 5px;
    color:#a60000;
}
article header p {
    font-size:20px;
    line-height:28px;
}
h2 {
    font-size:24px;
    margin-top:-62px;
    text-transform:uppercase;
    color:#444;
}
h1{font-size:48px;}
h1, h2, p, ol, article {  margin-bottom:15px;}
h1, h2, footer p {text-align:center;}
p,article ol{font-family:'Cambria',serif;}
a { 
    color:#0054a6;
    font-weight:bold;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
a:hover {
    background-color: #0054a6;
    color:#fff!important;
}